<h1>{{ header }}</h1>
<p>Number of magic items: {{ numMagicItems }}</p>
<p>Number of categories: {{ numCategories }}</p>
<p>Number of order instances: {{ numOrderInstances }}</p>
<p>Number of customers: {{ numCustomers }}</p>
